# ROS2 build artifacts
build/
install/
log/

# Python virtual environment
.venv/

# ROS2 cache files
.colcon/
ros2_ws/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Embedded repos
src/YOLOv5-ROS
src/bbox_ex_msgs
src/yolov5

# Random stuff
datasets